head {font-size:36pt;}
body {background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm2uKv8d7CZRivSEtfMQv9CMYIj43uiCqiAAQkZHxJGKaI-1kC);}
section {font-family: "Lucida Handwriting"; background-color:#CCCCFF; width:600px; height:400px; margin:10px; overflow:auto;
         border:10px dotted navy;  }

nav {color:black;
     font-size:40pt;}
article {font-size:36pt;
            color:navy;
            font-family:"Apple Chancery";}
#abc { background-color:#CCCCFF; height:75px; width:300px; border:10px dotted navy; margin:; 20 20 20 20;}
#bcd { background-color:#CCCCFF; height:75px; width:300px; border:10px dotted navy; margin:; 20 20 20 20;}
