.high {background-color:red; color:white;}
.med {background-color:orange; color:#663300;}
.low {background-color:gray; color:black;}
.done {background-color:black; color:#00CCFF;}

#123456 {font-size=25pt; color:red;}
#234567 {font-size=25pt; color:orange;}
#345678 {font-size=25pt; color:gray;}
#456789 {font-size=25pt; color:black;
